fastapi
uvicorn
pydantic[dotenv]
pymongo
sentence-transformers
langchain
python-dotenv
python-multipart
spacy
python-docx
google-generativeai
pdfminer.six
loguru
pydantic-settings
grpcio==1.67.1
ollama